:root {
  /* colors */
  --grayBlue10: #0D111A;
  --grayBlue15: #131926;
  --grayBlue20: #1A2233;
  --grayBlue25: #202B40;
  --grayBlue30: #26334D;
  --grayBlue35: #2D3C59;
  --grayBlue40: #334466;
  --grayBlue45: #3F5073;
  --grayBlue50: #4D5E80;
  --grayBlue55: #62708C;
  --grayBlue60: #6B7A99;
  --grayBlue65: #7C8AA6;
  --grayBlue70: #7D8FB3;
  --grayBlue75: #99A6BF;
  --grayBlue80: #ADB8CC;
  --grayBlue85: #C3CAD9;
  --grayBlue90: #DADEE6;
  --grayBlue91: #DCE0E8;
  --grayBlue92: #DFE3EB;
  --grayBlue93: #E1E5ED;
  --grayBlue94: #E4E7F0;
  --grayBlue95: #EDEFF2;
  --grayBlue96: #F2F3F5;
  --grayBlue97: #F5F6F7;
  --grayBlue98: #F7F8FA;
  --grayBlue99: #FAFBFC;

  --white: #fff;
  --white90: rgba(255, 255, 255, 0.9);
  --white80: rgba(255, 255, 255, 0.8);
  --white70: rgba(255, 255, 255, 0.7);
  --white60: rgba(255, 255, 255, 0.6);
  --white50: rgba(255, 255, 255, 0.5);
  --white40: rgba(255, 255, 255, 0.4);
  --white30: rgba(255, 255, 255, 0.3);
  --white20: rgba(255, 255, 255, 0.2);
  --white10: rgba(255, 255, 255, 0.1);
  --white5: rgba(255, 255, 255, 0.05);

  --black: #000;
  --black90: rgba(0, 0, 0, 0.9);
  --black80: rgba(0, 0, 0, 0.8);
  --black70: rgba(0, 0, 0, 0.7);
  --black60: rgba(0, 0, 0, 0.6);
  --black50: rgba(0, 0, 0, 0.5);
  --black40: rgba(0, 0, 0, 0.4);
  --black30: rgba(0, 0, 0, 0.3);
  --black20: rgba(0, 0, 0, 0.2);
  --black10: rgba(0, 0, 0, 0.1);
  --black5: rgba(0, 0, 0, 0.05);

  --blue: #3361FF;
  --blueDark1: #194DFF;
  --blueDark2: #0039FF;
  --blueLight1: #4D74FF;
  --blueLight2: #6688FF;
  --blue90: rgba(51, 97, 255, 0.9);
  --blue80: rgba(51, 97, 255, 0.8);
  --blue70: rgba(51, 97, 255, 0.7);
  --blue60: rgba(51, 97, 255, 0.6);
  --blue50: rgba(51, 97, 255, 0.5);
  --blue40: rgba(51, 97, 255, 0.4);
  --blue30: rgba(51, 97, 255, 0.3);
  --blue20: rgba(51, 97, 255, 0.2);
  --blue10: rgba(51, 97, 255, 0.1);
  --blue5: rgba(51, 97, 255, 0.05);
}


